/* || */

body {
    text-align: center;
}

footer {
    position: absolute;
    bottom: 0px;
    background-color: lightgray;
    color: lightsalmon;
    height: 7.5vh;
}

.clickerButton {
    border: none;
    color: white;
    margin: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 26px;
    cursor:grab;
}