/* fix bootstrap default padding and margin */
.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto,
.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.row {
    padding: 0;
    margin: 0;
}

body {
    text-align: center;
    height: 100vh;
    background-color: whitesmoke;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    font-family: 'RocknRoll One', sans-serif;
}

input {
    text-align: center;
}

button {
    padding: 0;
    margin: 0;
}

hr {
    margin: 0;
    width: 100%;
}

a {
    background-color: transparent;
}

h5 {
    font-size: small;
    text-align: center !important;
}

.container-fluid {
    justify-content: center;
    font-size: xx-large;
    background-color: transparent;
}

.modal-dialog {
    max-width: none;
}

.modal-body {
    font-size: x-small;
    text-align: center;
}

.modal-header {
    font-size: x-small;
}

/* FONT AWESOME */

.fa-hand-pointer {
    color: whitesmoke !important;
}

.fa-angle-double-up {
    color: rgb(150, 150, 150) !important;
}

.fa-gripfire {
    color: #d25b15 !important;
    font-size: larger;
}

.fa-tint {
    color: cornflowerblue !important;
}

.fa-wind {
    color: lightseagreen !important;
}

.fa-globe-americas {
    color: #7d793f !important;
}

.fa-bolt {
    color: gold !important;
}

.fa-atom {
    color: #2fbd0b !important;
}

.fa-meteor {
    color: rgb(177 63 61) !important;
}

.fa-cubes {
    color: #ad3cad !important;
}

.fa-crown {
    color: #f5b603 !important;
}

.fa-palette {
    color: whitesmoke !important;
}

.fa-paint-brush {
    color: #b4ae70 !important;
}

.fa-layer-group {
    color: #a195b3 !important;
}

.fa-play {
    color: #212529 !important;
}

.fa-question-circle {
    color: #b4ae70 !important
}

.fa-trophy {
    color: darkorange !important;
}

.fab,
.far,
.fas {
    text-shadow: 1px 1px 2px black;
}

/* THEMES */

.defaultTheme {
    background-color: rgb(112 111 116 / 85%);
    color: rgb(239 239 239);
}

.fireTheme {
    background-color: rgb(184 79 13 / 85%);
    color: #eae49b;
}

.waterTheme {
    background-color: rgb(37 129 163 / 85%);
    color: rgb(165 251 255);
}

.windTheme {
    background-color: rgb(223 221 222 / 85%);
    color: #1f2223;
}

.earthTheme {
    background-color: rgb(43 39 30 / 85%);
    color: #b2bb6a;
}

.electronTheme {
    background-color: rgb(34 41 70 / 85%);
    color: rgb(247 232 151);
}

.nucleusTheme {
    background-color: rgb(62 52 53 / 85%);
    color: #d1cdcc;
}

.gravityTheme {
    background-color: rgb(7 2 5 / 85%);
    color: rgb(237 158 137);
}

.darkMatterTheme {
    background-color: rgb(80 29 73 / 85%);
    color: rgb(255 218 170);
}

.ultimaTheme {
    background-color: rgb(210 189 165 / 85%);
    color: rgb(20 1 6);
}

/* START MENU */

.startMenu {
    margin: 15vh 0;
    padding: 5vw;
    font-size: x-small;
}

.elementIcons {
    justify-content: center;
}

.elementIcons i {
    padding: 4vh 1.75vw;
    font-size: medium;
}

.startText {
    justify-content: center;
    font-size: inherit;
}

.enterName {
    padding: 3vh 18vw;
    font-size: inherit;
}

.submitName {
    justify-content: center;
    margin-bottom: 2.5vh;
}

.nameButton {
    font-size: inherit;
}

.nameButton:focus {
    box-shadow: inherit;
    color: inherit;
}

/* HEADER */

.header {
    align-items: center;
}

.headerText {
    text-shadow: -1px 1px 2px rgb(48, 16, 16),
        1px 1px 2px rgb(32, 18, 70),
        1px -1px 2px rgb(76, 85, 24),
        -1px -1px 2px rgb(0, 104, 22);
}

.header-height {
    height: 15vh;
}

.gameTitle {
    font-family: 'RocknRoll One', sans-serif;
    font-weight: 600;
    font-size: x-large;
    justify-content: center;
    background-color: transparent;
}

.navbar-toggler {
    background-color: rgba(0, 0, 0, 0);
}

.navbar-collapse {
    z-index: 1;
    position: absolute;
    left: 20vw;
    width: 60vw;
    top: 1.5vh;
    font-family: 'RocknRoll One', sans-serif;
}

/* MAIN MENU */

#developer {
    text-align: center;
    font-size: small;
}

.newGame {
    padding: 2vh;
}

.newGameText {
    margin: 0;
}

.menuButton {
    width: 100%;
    padding: 0.5vh 0;
    font-size: small;
}

/* THEMES MENU */

#themesMenu {
    font-size: large;
}

#themesMenuButton {
    visibility: hidden;
}

.themeButton {
    height: 32%;
    width: 100%;
}

#themeIcon {
    margin: -1.5vh;
}

/* GAME BOARD */

.gameBoard {
    margin: 0;
    padding: 0 7.5vw;
}

.developer {
    text-align: justify;
}

.smallTitle {
    font-size: inherit;
}

.email {
    font-style: italic;
    text-align: center;
}

/* TOTALS */
#totals {
    padding: 0.6vh 0;
    font-size: x-small;
    margin: 1.5vh 0 0 0;
}

#totals>div {
    padding: 0.5vh;
}

.totalClicks,
.totalScore,
.playerName,
.levelLevel {
    text-align: left;
}

/* CLICKERS */

#clickers {
    margin: 1.5vh 0;
}

#clickers .col-12 {
    box-sizing: content-box;
}

#clickers .col-12 .row {
    justify-content: center;
}

.clicker {
    height: 12vh;
    width: 100%;
    margin: 0;
}

.clickerIcon {
    font-size: x-large;
}

.clickerLevel {
    font-size: x-small;
}

.clickerCountDisplay {
    font-size: x-small;
    text-align: center;
}

.upgradeIcon {
    font-size: x-small;
    visibility: hidden;
}

.upgradeIcon {
    background: transparent;
}

.upgradeMultiplier {
    font-size: x-small;
    visibility: hidden;
    padding-right: 1.5vw;
    margin-top: -0.5vh;
    background: transparent;
}

/* TRACKERS */

#trackers {
    padding: 0.75vh 0;
}

#trackers>div {
    font-size: xx-small;
}

.tracker {
    justify-content: center;
    vertical-align: middle;
    font-size: x-small;
    height: auto;
    padding: 0.3vh;
}

.trackerIcon i {
    text-align: center;
    font-size: 2vh;
}

.trackerName {
    text-align: center;
    font-size: xx-small;
}

.trackerCount {
    text-align: right;
}

.col-5.clickerCount {
    text-align: right;
}

.nextLevel {
    text-align: left;
}

.trackerIncrement {
    text-align: right;
    font-size: xx-small;
}

.trackerTotal {
    text-align: center;
}

/* ACHIEVEMENTS */

.achievements {
    margin: 1.5vh 0 0 0;
    justify-content: center;
}

#achievementsModal {
    padding: 0;
}

.achievement {
    font-size: x-small;
    text-align: center;
}

.achievementImage {
    justify-content: center;
    font-size: large;
}

.achievementText {
    padding: 1vh 0;
    font-size: xx-small;
}

.achievementName {
    padding: 1vh 1vw;
    text-align: left;
}

.achievementButton {
    width: 100%;
    height: 6vh;
    font-size: small;
}

.achievements div div {
    color: inherit;
}

.achievementButton>i {
    background-color: transparent;
}

/* MEDIA QUERIES */

@media (orientation: landscape) {
    .navbar-toggler {
        top: 0vh;
    }
}

/* Extra extra small devices (portrait old phones, 350px and down) */
@media (max-width: 350px) {
    .startMenu {
        font-size: x-small;
    }

    .gameTitle {
        font-size: x-large;
    }

    .smallTitle {
        font-size: inherit;
    }

    .menuButton {
        padding: 1.25vh 0;
        font-size: xx-small;
    }

    .modal-title {
        font-size: small;
    }

    .modal-body {
        font-size: x-small;
    }

    .navbar-collapse {
        top: 0px;
    }

    .navbar-toggler {
        font-size: 5vh;
    }

    #totals>.col-4,
    .clickerLevel,
    .clickerCountDisplay {
        font-size: 1.25vh;
    }

    #trackers>div,
    .trackerName,
    .trackerIncrement {
        font-size: 1.25vh;
    }

    .clickerIcon {
        font-size: large;
    }

    .achievementButton {
        font-size: x-small;
    }

    .achievement {
        font-size: xx-small;
    }

    .achievementText {
        font-size: 1.3vh;
    }
}

/* Extra small devices (portrait old phones, 350px and up) */
@media (min-width: 350px) {
    .startMenu {
        font-size: small;
    }

    .gameTitle {
        font-size: xx-large
    }

    .smallTitle {
        font-size: inherit;
    }

    .navbar-toggler {
        font-size: xx-large;
    }
}

/* fix bug */
@media (min-width: 576px) {

    .container,
    .container-sm {
        max-width: none;
    }

    .modal-dialog {
        max-width: none;
        margin: 1vh 20vw;
    }
}

/* Small devices (landscape old phones, 550px and up) */
@media (min-width: 550px) and (orientation: landscape) {
    body {
        padding: 0 10vw;
        background-position: center;
    }

    .elementIcons i {
        padding: 4vh 1.25vw;
        font-size: 20px;
    }

    .navbar-collapse {
        width: 36vw;
        left: 32vw;
        top: 0vh;
    }

    .modal-body {
        font-size: x-small;
    }

    .header-height {
        height: 20vh;
    }

    .gameTitle {
        font-size: 30px;
    }

    .smallTitle {
        font-size: inherit;
    }

    .themeButton i {
        font-size: medium;
    }

    .menuButton {
        padding: 1.9vh 0;
        font-size: x-small;
    }

    .clicker {
        height: 100%;
        padding: 1vh;
    }

    .clickerIcon {
        font-size: 15px;
    }

    .clickerLevel,
    .clickerCountDisplay,
    #totals {
        font-size: xx-small;
    }

    #totals {
        margin: 1.5vh 4vw 0 4vw;
    }

    #trackers>div,
    .trackerName,
    .trackerIncrement {
        font-size: 7px;
    }

    .clickerLevel,
    .clickerCountDisplay,
    #totals,
    .trackerIcon i {
        font-size: 8px;
    }

    .achievements {
        display: none;
    }
}

/* medium devices (portrait tablets, 720px and up) */
@media (min-width: 720px) {
    body {
        background-position: top;
    }

    .startMenu {
        font-size: medium;
    }

    .elementIcons i {
        padding: 4vh 1.25vw;
        font-size: 30px;
    }

    .navbar-collapse {
        width: 50vw;
        left: 25vw;
        top: 1vh;
    }

    .modal-body {
        font-size: medium;
    }

    .header-height {
        height: 15vh;
    }

    .gameTitle {
        font-size: 60px;
    }

    .smallTitle {
        font-size: inherit;
    }

    #themesMenuButton i,
    #toggleMenuButton i {
        font-size: 60px;
    }

    .themeButton {
        padding: 0.5vh 0;
    }

    .themeButton i {
        font-size: x-large;
    }

    .menuButton {
        padding: 0.5vh 0;
        font-size: large;
    }

    #clickers {
        margin: 1.5vh 0;
    }

    .clicker {
        height: 100%;
        padding: 3vh;
    }

    .clickerIcon {
        font-size: xx-large;
    }

    .clickerLevel,
    .clickerCountDisplay,
    #trackers>div,
    .trackerName,
    .trackerIncrement,
    .upgradeMultiplier {
        font-size: medium;
    }

    .clickerCountDisplay {
        font-size: smaller;
    }

    #totals {
        margin: 0 5vw;
        font-size: large;
    }

    .trackerIcon i {
        font-size: medium;
    }

    .achievements {
        display: flex;
    }

    .achievementButton {
        font-size: x-large;
    }

    .achievement,
    .achievementText {
        font-size: small;
    }

    .modal-dialog {
        font-size: medium;
        margin: 1vh 15vw;
    }

    h5 {
        font-size: large;
    }

    #developer {
        font-size: medium;
    }
}

/* medium devices (landscape modern phones/portrait tablets, 720px and up) */
@media (min-width: 720px) and (orientation: landscape) {

    .clickerLevel,
    .clickerCountDisplay,
    #trackers>div,
    .trackerName,
    .trackerIncrement,
    .upgradeMultiplier {
        font-size: xx-small;
    }

    .clickerCountDisplay {
        font-size: x-small;
    }

    #clickers {
        margin: 2vh;
    }

    .clicker {
        padding: 2.5vh;
    }

    .clickerIcon {
        font-size: 20px;
    }

    .gameTitle {
        font-size: 35px;
    }

    .smallTitle {
        font-size: inherit;
    }

    #themesMenuButton i,
    #toggleMenuButton i {
        font-size: 35px;
    }

    .menuButton {
        padding: 0.95vh 0;
        font-size: small;
    }

    .trackerIcon i {
        font-size: small;
    }

    #totals {
        margin: 0 4vw;
        font-size: x-small;
    }

    .themeButton {
        padding: 0;
    }

    .themeButton i {
        font-size: large;
    }

    .navbar-collapse {
        top: 0vh;
    }

    .achievements {
        display: none;
    }
}

/* large devices (portrait tablets/small desktop windows, 992px and up) */
@media (min-width: 992px) {
    body {
        padding: 0 8vw;
        background-position: center;
    }

    .startMenu {
        font-size: large;
    }

    .clickerLevel,
    .clickerCountDisplay,
    #trackers>div,
    .trackerName,
    .trackerIncrement,
    .upgradeMultiplier,
    #totals {
        font-size: medium;
    }

    .clickerLevel {
        font-size: larger;
    }

    .achievementButton {
        font-size: x-large;
    }

    .startMenu {
        font-size: x-large;
    }

    .gameTitle {
        font-size: 65px;
    }

    .smallTitle {
        font-size: inherit;
    }

    .menuButton {
        padding: 0.5vh 0;
        font-size: x-large;
    }

    .themeButton {
        padding: 0.7vh 0;
        font-size: 20px;
    }

    .navbar-collapse {
        width: 44vw;
        left: 28vw;
        top: 2vh;
    }

    .elementIcons i {
        font-size: 35px;
        padding: 4vh 1.25vw;
    }

    #themesMenuButton i,
    #toggleMenuButton i {
        font-size: 55px;
    }

    #totals {
        margin-top: 1.5vh;
    }

    .clicker {
        padding: 2vh;
    }

    .trackerIcon i {
        font-size: large;
    }

    .achievementName {
        font-size: medium;
    }

    .achievementImage {
        font-size: x-large;
    }

    .modal-body {
        font-size: large;
    }

    h5 {
        font-size: x-large;
    }
}

/* large devices (landscape tablets/small desktop windows, 992px and up) */
@media (min-width: 992px) and (orientation: landscape) {
    .navbar-collapse {
        width: 44vw;
        left: 28vw;
        top: 0vh;
    }

    .themeButton {
        padding: 0.5vh 0;
    }

    .themeButton i {
        font-size: 22px;
    }

    .menuButton {
        padding: 0.7vh 0;
        font-size: large;
    }

    .clickerIcon {
        font-size: 30px;
    }

    .clicker {
        padding: 3vh;
    }

    #trackers>div,
    .trackerName,
    .trackerIncrement {
        font-size: medium;
    }

    .clickerLevel,
    .clickerCountDisplay,
    .upgradeMultiplier,
    #totals {
        font-size: large;
    }

    .clickerCountDisplay {
        font-size: smaller;
    }
}

/* extra large devices (large tablets/desktop windows, 1200px and up) */
@media (min-width: 1200px) {
    body {
        padding: 0 15vw;
    }

    .navbar-collapse {
        width: 34vw;
        left: 33vw;
        top: 1vh;
    }

    .menuButton {
        padding: 1vh 0;
        font-size: medium;
    }

    .smallTitle {
        font-size: inherit;
    }

    .menuButton i {
        font-size: large;
    }

    #trackers>div,
    .trackerName,
    .trackerIncrement {
        font-size: medium;
    }

    .clickerLevel,
    .clickerCountDisplay,
    .upgradeMultiplier,
    #totals {
        font-size: large;
    }

    .clickerCountDisplay {
        font-size: smaller;
    }

    .trackerIcon i {
        font-size: large;
    }

    .clickerIcon {
        font-size: xx-large;
    }

    .upgradeMultiplier {
        font-size: medium;
    }

    .themeButton i {
        font-size: 25px;
        padding: 1vh;
    }

    .achievements {
        display: flex;
    }

    .achievementButton {
        font-size: x-large;
    }

    .modal-dialog {
        margin: 5vh 20vw;
    }
}