/* || \ */

/* fix bootstrap default padding and margin */

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto,
.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.row {
    padding: 0;
    margin: 0;
}

body {
    text-align: center;
    padding: none;
    margin: none;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.header {
    justify-content: center;
}

footer {
    position: absolute;
    bottom: 0px;
    height: 2.5vh;
    padding: 0 auto;
}

/* HEADER */
.header {
    padding: 0;
    margin: 0;
}

/* GAMEBOARD */

.gameBoard {
    margin: 0;
    padding: 2vh 2.5vw;
}

.developer {
    text-align: justify;
}

.email {
    font-style: italic;
}

.gameTitle {
    font-weight: bolder;
}

/* TOTALS */
#totals {
    padding: 0;
    margin: 0 2.5vw;
    font-size: small;
}

/* CLICKERS */

#clickers {
    margin: 0;
    padding: 2vh 2.5vw;
}

#clickers .col-12 {
    box-sizing: content-box;
}

#clickers .col-12 .row {
    padding: 2vw 2vw
}

.clicker {
    height: 10vh;
    width: 10vh;
    margin: 0;
}

.clickerIcon {
    font-size: x-large;
}

.clickerLevel {
    font-size: x-small;
}

.clickerCount {
    font-size: x-small;
}

/* TRACKERS */
#trackers {
    margin: 0 2.5vw;
    padding: 0.75vh 0;
}

.tracker {
    justify-content: center;
    vertical-align: middle;
    font-size: x-small;
    height: 2.5vh;
}

.trackerIcon {
    text-align: left;
}

.trackerName {
    text-align: left;
}

.increment {
    text-align: right;
}

/* ACHIEVEMENTS */

/* THEMES */

.themeButton {
    text-transform: uppercase;
}

.defaultTheme {
    background-color: rgba(245, 245, 245, 0.8);
    color: black;
}

.fireTheme {
    background-color: rgba(255, 69, 0, 0.8);
    color: orange;
}

.waterTheme {
    background-color: rgba(100, 149, 237, 0.8);
    color: aqua;
}

.windTheme {
    background-color: rgba(118, 135, 152, 0.8);
    color: whitesmoke;
}

.earthTheme {
    background-color: rgba(165, 42, 42, 0.8);
    color: burlywood;
}

.electronTheme {
    background-color: rgba(218, 165, 32, 0.8);
    color: blue;
}

.nucleusTheme {
    background-color: rgba(50, 205, 50, 0.8);
    color: lightyellow;
}

.gravityTheme {
    background-color: rgba(0, 0, 0, 0.8);
    color: lightskyblue;
}

.darkMatterTheme {
    background-color: rgba(128, 0, 128, 0.8);
    color: gold;
}

.ultimaTheme {
    background-color: rgba(70, 130, 180, 0.8);
    color: whitesmoke;
}



/* Dark Matter */

.fa-gripfire {
    color: orangered;
}

.fa-tint {
    color: cornflowerblue;
}

.fa-wind {
    color: lightseagreen;
}

.fa-globe-americas {
    color: brown;
}

.fa-bolt {
    color: gold;
}

.fa-atom {
    color: green;
}

.fa-meteor {
    color: darkslategrey;
}

.fa-cubes {
    color: purple;
}

.fab,
.far,
.fas {
    text-shadow: 1px 1px 2px black;
}

/* FONT AWESOME ICONS */
/* .shadow {
    text-shadow: 1px 1px 2px black;

} */


/* MISC */
.opacity-50 {
    opacity: 0.5;
}